api:
  dashboard: true
  insecure: true

log:
  level: INFO

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/star_lab.crt
        keyFile: /certs/star_lab.key
